<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhangdengzhen.demo.mapper.ImgMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into img (id,uuid,url,filename) values
        <foreach collection="list" item="t" index="index" separator=",">
            (0, #{t.uuid}, #{t.url},#{t.filename})
        </foreach>
    </insert>

</mapper>